.card{
    margin-top: 70px;
    margin-left: 30px;
    border-color: white;
    border-radius: 3px;
    max-width: 592px;
}

.card-text{
    margin-bottom: 0px;
    font-size: small;
}

.card-title{
    font-size: medium;
}

#challenge-title{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

#challenge-data{
    text-decoration: none;
    font-size: 12px;
}

.btn-join{
    background-color: #fc5200; color:white; font-size:13px
}

a:hover{
    color: #007FB6;
}

.challenge-statement{
    font-size: small;
}

a.challenge-names:link{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
}

.challenge-title{
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}

.right-side{
    margin-left: 10px;
}

.participants-text{
    font-size: small;
    color: rgb(70, 70, 70);
}