<div class="row">
    <div class="col-1"></div>
<div class="col-1">
    <button type="button" class="btn-cat btn-sm bg-light"><img src="/assets/run-logo.png" height="15" width="20">Run</button>
</div>
<div class="col-1">
    <button type="button" class="btn-cat btn-sm bg-light"><img src="/assets/ride-logo.png" height="15" width="20">Ride</button>
</div>
<div class="col-1">
    <button type="button" class="btn-cat btn-sm bg-light w-100 px-0"><img src="/assets/swim-logo.png" height="15" width="20">Swim</button>
</div>
<div class="col-1">
    <button type="button" class="btn-cat btn-sm bg-light"><img src="/assets/walk-logo.png" height="15" width="20">Walk</button>
</div>
<div class="col-1">
    <button type="button" class="btn-cat btn-sm bg-light"><img src="/assets/hike-logo.png" height="15" width="20">Hike</button>
</div>
<div class="col-1 px-1">
    <button type="button" class="btn-cat btn-sm bg-light "><img src="/assets/workout-logo.png" height="15" width="20">Workout</button>
</div>
<div class="col-1">
    <button type="button" class="btn-cat btn-sm bg-light  w-100">Distance</button>
</div>
<div class="col-1 px-1">
    <button type="button" class="btn-cat btn-sm bg-light " style="width: fit-content;">Elapsed Time</button>
</div>
<div class="col-1 px-0 mx-2">
    <button type="button" class="btn-cat btn-sm bg-light ">Elevation Gain</button>
</div>
<div class="col-1 px-1">
    <button type="button" class="btn-cat btn-sm bg-light ">Moving Time</button>
</div>

</div>


