<div class="card mb-3" style="max-width: 1140px; height:383px;">
    <div class="row g-0">
        <div class="col-md-3">
            <div class="card-body">
                <div class="challenge-logo my-2">
                    <img src="\assets\main-challenge-logo.png" height="56" width="56">
                  </div>
                  <a href="#" id="challenge-title" class="link-dark py-3">60 For 60 #ForStJude</a>
                  <div class="row my-1">
                    <div class="col-1"><img src="\assets\challenge-req-logo.png" height="20" width="20"></div>
                    <div class="col-10">
                      <a href="#" id="challenge-data" class="link-dark">Complete three days of activity per week for four weeks</a>
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col-1"><img src="\assets\challenge-reward-logo.png" height="20" width="20"></div>
                    <div class="col-10">
                      <a href="#" id="challenge-data" class="link-dark">Join for the chance to win a Garmin Forerunner ® 745 watch or Theragun mini.</a>
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col-1"><img src="\assets\challenge-date-logo.png" height="20" width="20"></div>
                    <div class="col-10">
                      <a href="#" id="challenge-data" class="link-dark">Feb 7, 2022 to Mar 6, 2022</a>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-3"><img src="\assets\challenge-friends-pics.png" height="20" width="50"></div>
                    <div class="col-9">
                      <a href="#" id="challenge-data" class="link-dark">4 Friends have joined</a>
                    </div>
                </div>
                <button type="button" class="btn-join h-100 w-100 btn"><b>Join Challenge</b></button>
            </div>
          </div>
      <div class="col-md-8">
        <img src="\assets\main-challenge-pic.png" class="rounded-start" height="383" width="855">
      </div>
      
    </div>
  </div>