a:hover{
    color: #007FB6;
}

.challenge-logo{
    height: 56px;
    width: 56px;
}

#challenge-title{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

#challenge-data{
    text-decoration: none;
    font-size: 11px;
}

.btn-join{
    background-color: #fc5200; color:white; font-size:13px
}