<div class="row">
    <div class="col-2"></div>
    <div class="col-2 "><img src="/assets/profile-header-pic1.jpg" class="rounded-start" height="300" width="300"></div>
    <div class="col-2 "><img src="/assets/profile-header-pic2.jpg" class="rounded-start" height="300" width="300"></div>
    <div class="col-2 "><img src="/assets/profile-header-pic3.jpg" class="rounded-start" height="300" width="300"></div>
    <div class="col-2 "><img src="/assets/profile-header-pic4.jpg" class="rounded-start" height="300" width="300"></div>
    <div class="col-2"></div>
</div>