
  <div class="row">
    <div class="col-2"></div>
    <div class="col-2">
    <div class="avatar-body">
            <img src="/assets/avatar-pic.png" class="card-img-top avatar-pic" height="150" >
    </div>
    <div class="card-body">
      <div class="my-3">
      <a href="#" class="link-dark card-title" id="name">Jack Amling</a>
      </div>
      <div class="sub"><img src="/assets/premium-badge.svg" height="15" width="15" class="mx-1">Subscriber</div>
      <div class="loc"><img src="/assets/location-logo.svg" class="mx-1">Columbus, OH</div>
      </div>
      </div>
</div>

