<div class="card" >
    <div class="avatar-body">
            <img src="/assets/avatar-pic.png" class="card-img-top avatar-pic">
            <span class="position-absolute  translate-middle badge"><img src="/assets/premium-badge.svg" class="premium-badge"></span>
           <!--<img src="/assets/premium-badge.svg" class="premium-badge">-->
    </div>
    <div class="card-body">
      <a href="#" class="link-dark card-title">Jack Amling</a>
      <div class="followers-columns">
          <ul class="followers-list">
            <li>
                <div class="followers-item">
                Followers
                <br>
                <a href="#" class="link-dark follower-nums">53</a>
              </div>
            </li>
            <div id="vert-bar"></div>
            <li>
                <div class="followers-item">
                Following
                <br>
                <a href="#" class="link-dark follower-nums">50</a>
                </div>
            </li>
            <div id="vert-bar"></div>

            <li>
                <div class="followers-item">
                Activities
                <br>
                <a href="#" class="link-dark follower-nums">556</a>
                </div>
            </li>
          </ul>
          </div>

 <hr class="my-3">

    <div>
      <p id="latest-act-text">Latest Activity</p>
      <a href="#" class="latest-activity link-dark"><b>Afternoon Activity ·</b> January 9, 2022</a>
    </div>

    <hr class="my-3">
  



  <div>
    <a href="#" class="training-log-text link-dark">Your Training Log</a>
    <img id="training-log-arrow" src="/assets/side arrow.svg#Icons">
  </div>
</div>
</div>

