
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ffffff; font-family:Segoe UI; font-size:14px;"> <!--a set of navigation links-->
    <div class="container-fluid mx-5"> <!--a section styled with CSS-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"> <!--unordered list-->
            <p></p>
        </ul>
            <ul class="navbar-nav mr-auto mb-auto mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="#">Support</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Subscription</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Terms and Conditions</a>
          </li>
          </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ffffff; font-family:Segoe UI; font-size:14px;"> <!--a set of navigation links-->
    <div class="container-fluid mx-5"> <!--a section styled with CSS-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"> <!--unordered list-->
            <p></p>
        </ul>
            <ul class="navbar-nav mr-auto mb-auto mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="#">Privacy Policy</a>
          </li>
          </ul>
      </div>
    </div>
  </nav>


<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ffffff; font-family:Segoe UI; font-size:14px;"> <!--a set of navigation links-->
    <div class="container-fluid mx-5"> <!--a section styled with CSS-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"> <!--unordered list-->
            <p></p> 
        </ul>

        <ul class="navbar-nav mr-auto mb-auto mb-lg-0">
            <div class="btn-group dropup">
                <ul>
                <button type="button" class="mx-5 btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  English (US)
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">English (US)</a></li>
                    <li><a class="dropdown-item" href="#">Other Languages</a></li>
                </ul>
                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    About
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">About</a></li>
                      <li><a class="dropdown-item" href="#">Careers</a></li>
                      <li><a class="dropdown-item" href="#">Business</a></li>
                      <li><a class="dropdown-item" href="#">Developers</a></li>
                      <li><a class="dropdown-item" href="#">Labs</a></li>
                      <li><a class="dropdown-item" href="#">About Our Maps</a></li>
                      <li><a class="dropdown-item" href="#">Strava Community Standards</a></li>
                  </ul>
                  </ul>
              </div>
        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ffffff; font-family:Segoe UI; font-size:14px;"> <!--a set of navigation links-->
    <div class="container-fluid mx-5"> <!--a section styled with CSS-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0"> <!--unordered list-->
            <p></p>   
        </ul>

        <ul class="navbar-nav mr-0 mb-auto mb-lg-0">
            <div class="btn-group dropup">
                <button type="button" class="mx-0 btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Follow Us
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">FaceBook</a></li>
                    <li><a class="dropdown-item" href="#">Twitter</a></li>
                    <li><a class="dropdown-item" href="#">Instagram</a></li>
                    <li><a class="dropdown-item" href="#">YouTube</a></li>
                    <li><a class="dropdown-item" href="#">Blog</a></li>
                </ul>
              </div>
        </ul>

      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ffffff; font-family:Segoe UI; font-size:14px;"> <!--a set of navigation links-->
    <div class="container-fluid mx-5"> <!--a section styled with CSS-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"> <!--unordered list-->
            <p></p>
        </ul>

        <ul class="navbar-nav mr-auto mb-auto mb-lg-0">
            <p style="color:gray">© 2022 Strava</p>
        </ul>

      </div>
    </div>
  </nav>
