#profile {
    border-radius: 90%;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-arrow {
    width: 50px;
}

a:hover {
    color: #fc5200;
  }

  .navbar{
    background-color: #ffffff; font-family:Segoe UI; font-size:14px
}

.btn-sub{
    background-color: #fc5200; color:white; font-size:13px
}

