<style>
  .dropdown-toggle::after {
      content: none;
  }
</style>


<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ffffff; font-family:Segoe UI; font-size:14px;"> <!--a set of navigation links-->
    <div class="container-fluid mx-5"> <!--a section styled with CSS-->
      <a class="navbar-brand" href="#"> <!--defines a hyperlink-->
        <img src="/assets/strava-logo-orange.svg" width="100" height="40"> <!--an image-->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <!--a clickable button-->
        <span class="navbar-toggler-icon"></span> <!--used to color a part of text-->
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"> <!--unordered list-->

          <li class="nav-item dropdown"> <!--list item-->
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="/assets/search.svg" alt="" width="24" height="24">
            </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> <!--input box-->
              </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-2" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dashboard
              <img class="bx-2" src="/assets/dropdown-arrow.svg" alt="" width="14" height="17">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Activity Feed</a></li>
              <li><a class="dropdown-item" href="#">My Segments</a></li>
              <li><a class="dropdown-item" href="#">My Routes</a></li>             
              <li><hr class="dropdown-divider">Subscription</li>
              <li><a class="dropdown-item bg-secondary" href="#">My Goals</a></li>
              <li><a class="dropdown-item bg-secondary" href="#">HeatMaps</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Training
              <img src="/assets/dropdown-arrow.svg" alt="" width="14" height="17">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Training Calender</a></li>
              <li><a class="dropdown-item" href="#">My Activities</a></li>
              <li><hr class="dropdown-divider">Subscription</li>
              <li><a class="dropdown-item bg-secondary" href="#">Training Log</a></li>
              <li><a class="dropdown-item bg-secondary" href="#">Training Plans</a></li>
              <li><a class="dropdown-item bg-secondary" href="#">Power Curve</a></li>
              <li><a class="dropdown-item bg-secondary" href="#">Fitness & Freshness</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Explore
              <img src="/assets/dropdown-arrow.svg" width="14" height="17">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Segment Explore</a></li>
              <li><a class="dropdown-item" href="#">Segment Search</a></li>
              <li><a class="dropdown-item" href="#">Athlete Search</a></li>
              <li><a class="dropdown-item" href="#">Clubs</a></li>
              <li><a class="dropdown-item" href="#">Apps</a></li>
              <li><a class="dropdown-item" href="#">Local</a></li>
              <li><hr class="dropdown-divider">Subscription</li>
              <li><a class="dropdown-item bg-secondary" href="#">Create a Route</a></li>
              <li><a class="dropdown-item bg-secondary" href="#">Subscriber Perks</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Challenges</a>
          </li>

          
        </ul>

        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">

          <button type="button" class="btn my-3" style="background-color: #fc5200; color:white; font-size:13px"><b>Give a Subscription</b></button>
        
          <li class="nav-item m-2">
            <a class="nav-link float-end" href="#">
              <img class="m-2" src="/assets/alert button.svg" alt="" width="20" height="20">
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img id="profile" class="m-2" src="/assets/profile-pic.png" width="32" height="32">
              <img  class="m-2" src="/assets/dropdown-arrow.svg" width="14" height="17">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Find Friends</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="m-3" src="/assets/add-button.svg" alt="" width="24" height="24">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#"><img class="m-2" src="/assets/upload-activity.svg" alt="" width="24" height="24">Upload Activity</a>
              </li>
              <li><a class="dropdown-item" href="#"><img class="m-2" src="/assets/manual-activity.svg" alt="" width="24" height="24">Add Manual Entry</a></li>
              <li><a class="dropdown-item" href="#"><img class="m-2" src="/assets/route.svg" alt="" width="24" height="24">Create a Route</a></li>
              <li><a class="dropdown-item" href="#"><img class="m-2" src="/assets/post.svg" alt="" width="24" height="24">Create a Post</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </nav>